extends layout
block content
  header
    h1 todo 
      span list
    h2 A simple todo list app build with node

  section.form
    input#todoInput(type="text" placeholder="Insert your task here...")

  ul.list